 header, section, footer,aside, nav, article, figure, figcaption {
    display: block;
} Will help  

body {
    font-family: helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background-color: white;
    border: solid; /* Only here to make the page box visible*/

}

#wrappper {
    max-width: 80%;
    margin: 0 auto;
    
}

header {
    margin-top: 2em;
    margin-bottom: 2em;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items:center;
}

/* LOGO */
figure {
        margin-left:5em;
}
figcaption{
    /* MAKE TEXT ROTATE 
    background-image: linear-gradient(240deg, #eaee44, #90ec19);
    transform: rotate(-3deg); 
    margin-top: -30px; 
    width: 820px;
    height: 50px; 
    margin-left: 0.5em; 
    */
    font-weight: bold;
    font-size: 25px;
    margin-left: -25px;
}  /* END LOGO */

nav ul li {
    width: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items:center;
    margin-right: 2em;
}

nav a {
    font-weight:bold;
  
  color: #3a1af0;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; 
}


/* change link color on hover */
li a:hover {
    background-color: yellow;
    color: black;
    text-decoration: underline;
}

nav a.active {
  background-color: blue;
  color: black;
}

#content {
    clear:both;
    padding: 2em;
    text-align: left;
} 

img {
   margin-left: 0 auto;
}


footer {
    background-color: #1F68BD;
    text-align: center;
}

footer li {
    color: white;
    padding: 10px;
    display: inline-flex;
}